/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@media only screen and (min-width: 994px){
  .nav-wrapper {
    margin-left:100px; 
    margin-right:40px;
  }
}

nav ul a {
  color: #444;
}

.active
{
  background-color: white !important;
  
  font-weight: 800;
}

.active a span{
  border-bottom: 3px solid;
  border-color:  #26a69a;
  padding-bottom: 20px;
}

.active:hover
{
  border-bottom: 0px;
}

.hide-on-med-and-down li a:hover{
  background-color: white !important;
}

.hide-on-med-and-down li a span:hover, .hide-on-med-and-down li a span:hover i
{
  background-color: white !important;
  border-bottom: 3px solid;
  border-color: #795548;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
}

#dropdown1 .active a{
  color: #000;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.slider{
    background-image: url(../images/background1.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(0,0,0,.9);
}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (min-width: 550px){
    #modal_login{
    width: 500px;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 500px){
  #heading{
    font-size: 35px;
  }
  #desc{
    font-size: 20px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.scrollToTop{ 
  position:fixed;
  bottom:75px;
  right:40px;
  display:none;
  }
.scrollToTop:hover{
  text-decoration:none;
}

footer.page-footer {
  margin: 0;
}